@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.Experience {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
}
.CompanyLogo{
    float: left;
    padding-right: 10px;
    margin-top: 7px
}

.CompanyInfo{
    float: right;
    
}

.companyname{
    color: white;
    font-weight: 400;
}

.jobtitlecss{
    font-size: 30px;
    color: white;
}


.companylogoimg{
    width: 100px;
    height: 100px;
}

.companyname{
    font-size: 20px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.companyinfogrey{
    font-size: 20px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: rgb(194, 194, 194);
}

@media only screen and (max-width: 960px) {
    .Experience {
        flex-direction: column;
    }
    .CompanyLogo{
        float: none;
    }
    
    .CompanyInfo{
        float: none;
    }  
}