.hero-container{
  background: linear-gradient(to top right, #2566ae, #65d3fa);
  height: 100vh;
  width: 100%;
  position: relative;
  padding-top: 1px;
}

.aboutme{
  height: 100vh;
  width: 100%;
  position: relative;
  background: linear-gradient(to bottom right, #9e25ae, #af2078);
}

.random{
  height: 100vh;
  width: 100%;
  position: relative;
  background: linear-gradient(to top right, #2566ae, #65d3fa);
}

.scroll-about-me{
  position:absolute;
  width:300px;
  bottom:0px;
  right:25%;
  left:50%;
  margin-left:-150px;
  text-align: center;
  font-size: 40px;
  color: #89c0e4;
}

.scroll-about-me p{
  font-family: 'CherishToday';
  font-size: 30px;
  margin-bottom: -10px;
}

.centre-text{
  margin-top: 35vh;
}

.typingtext{
  color: #0f5298;
}

.hero-container > h1 {
    color: #fff;
    font-size: 100px;
    text-align: center;
  }

.hero-container > p {
  margin-top: 8px;
  color: #fff;
  font-size: 32px;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.hero-btns {
    text-align: center;
    padding: 40px;
}

.hero-btns .btn {
  margin: 6px;
}

.typewriter h1{
  display: inline;
  font-size: 100px;
}

.typewriter{
  margin: auto;
  width: 40%;
}

h1{
  font-family: 'CherishToday';
  color: #effbff;
  font-weight: normal;
}

@font-face {
  font-family: 'CherishToday';
  src: local('CherishToday'), url(fonts/CherishToday.ttf) format('truetype');
}

@media screen and (max-width: 960px){
  .hero-container > h1 {
    font-size: 70px;
    text-align: center;
    padding-top: 15%;
  }

  .hero-container > p {
    margin-top: 8px;
    font-size: 25px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }

  .btn-mobile{
    display: block;
    text-decoration: none;
  }

  .btn {
    width: 100%;
  }
}