* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
  }
  
  .home,
  .about-me,
  .projects,
  .contact-me {
    display: flex;
    height: 90vh;
    align-items: center;
    font-size: 3rem;
  }
  
  .about-me {
    background-image: url('./components/images/img-7.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    overflow: scroll;
    overflow-x: hidden;
  }
  
  .projects {
    background-image: url('./components/images/img-3.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    overflow: scroll;
    overflow-x: hidden;
  }
  
  .contact-me {
    background-image: url('./components/images/img-10.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    overflow: scroll;
    overflow-x: hidden;
  }